.word-break td{
    word-break: break-all;
}
.table img{
    width: 100%;
}
.table{
    table-layout: fixed;
}
.table th{
    width: 20%;
}
.window-insert{
    left: 0;
    margin: 50px;
    width: calc(100% - 100px);
    height: calc(100vh - 100px);
    z-index: 5;
}